@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@100;400;700&display=swap');
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat';
        text-decoration: none;
    }
    
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    body {
        background-color: #131415;
        height: 100vh;
        width: 100%;
    }
    
     :root {
        --gris: #252525;
        --amarillo: #FFA400;
        --rojo: #FFA400;
        --blanco: #FFFFFF;
        --gradient1: #FFA100;
        --gradient2: #FB103D;
    }
    
    .navbar {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .menu_izq {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .user {
        display: flex;
        flex-direction: column;
    }
    
    .header {
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .container_left {
        color: #FFFFFF;
    }
    
    .container_left_secundario {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .btn {
        background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
        box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
        border-radius: 15px;
        padding-bottom: 14px;
        padding-top: 14px;
        padding-left: 22px;
        padding-right: 22px;
        color: #FFFFFF;
        font-size: .8rem;
    }
    
    .card {
        background: #252525;
        box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        color: #FFFFFF;
    }
    
    .btn_card {
        background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
        box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
        border-radius: 15px;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 16px;
        padding-right: 16px;
        color: #FFFFFF;
        font-size: .8rem;
    }
    
    .recomendaciones {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 40px;
    }