    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: var(--gris);
        height: 100vh;
        width: 100%;
    }
    
     :root {
        --gris: #252525;
        --amarillo: #FFA400;
        --rojo: #FFA400;
        --blanco: #FFFFFF;
        --gradient1: #FFA100;
        --gradient2: #FB103D;
    }