@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
}

h1 {
    font-size: 66px;
    font-weight: 700;
}

h2 {
    font-size: 51px;
    font-weight: 700;
}

body {
    background-color: #131415;
    height: 100vh;
    width: 100%;
    color: var(--blanco);
}

 :root {
    --gris: #252525;
    --amarillo: #FFA400;
    --rojo: #FFA400;
    --blanco: #FFFFFF;
    --gradient1: #FFA100;
    --gradient2: #FB103D;
}

.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.navbar {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.btn_home {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 400;
}

.btn_home img {
    padding-right: 15px;
}

.user {
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_slogan {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.text_sub_slogan {
    font-size: 21px;
    font-weight: 400;
}

.header_right {
    display: flex;
    position: relative;
}

.header_img_1 {
    width: 265px;
    z-index: 0;
    margin-right: 140px;
}

.header_img_2 {
    position: absolute;
    top: -100px;
    right: -90px;
    width: 360px;
    z-index: 999;
}

.btn {
    background: linear-gradient(98.81deg, var(--gradient1) -0.82%, var(--gradient2) 101.53%);
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    color: #FFFFFF;
}

.btn.btn_header {
    border-radius: 15px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 14px;
    font-weight: 700;
}

.card {
    background: #252525;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.9);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 15px;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

.card:hover {
    opacity: 0.9;
    background-color: #2e2c2c;
    transform: scale(1.1);
}

.btn_card {
    border-radius: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    font-weight: 600;
}

.text_card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title_card {
    font-size: 15px;
    font-weight: 500;
}

.subtitle_card {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
    line-height: 17px;
}

.price_card {
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(58.81deg, var(--gradient1) -1%, var(--gradient2) 53%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_section_h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sub_container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img {
    width: 62px;
    height: 62px;
    border-radius: 12px;
}


/*CATEGORIES*/

.container_categories {
    display: flex;
    gap: 35px;
    margin: 30px 0;
}

.card_categories {
    width: 147px;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.img_icon_card {
    display: flex;
}

.img_icon {
    width: 71px;
}

.icon_categories {
    position: relative;
    z-index: 999;
}

.icon_blur {
    position: absolute;
    bottom: 60px;
    left: 45px;
    opacity: 0.5;
    z-index: 0;
    filter: blur(5px);
}

.subtitle_categories {
    font-weight: 400;
    opacity: 1;
}

.line_categories {
    background: linear-gradient(98.81deg, var(--gradient1) -0.82%, var(--gradient2) 101.53%);
    width: 24px;
    height: 4px;
    border-radius: 15px;
}


/*POPULAR*/

.card_most_popular {
    flex-direction: column;
}

.container_text_popular {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}


/*FOOTER*/

.footer {
    margin: 0 auto;
    margin-top: 80px;
    align-items: center;
    gap: 50px
}

.footer_links {
    display: flex;
    gap: 25px;
    font-size: 17px;
    font-weight: 400;
}

.footer_copyright {
    font-size: 14px;
    margin-bottom: 30px;
}

.strong_copy {
    font-weight: 900;
}

.hearth {
    color: red;
}

.logo {
    animation: girologo .2s linear;
}

@keyframes girologo {
    from {
        transform: rotateY(180deg);
    }
}